@import "tailwindcss";

:root {
  --accent: #22c55e;
  --accent-hover: #16a34a;
}

body {
  min-height: 100dvh;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
